<?xml version='1.0' ?>
<launch>
  <arg name='id' />
  <arg name='name' default='balloon' />
  <arg name='x' default='0' />
  <arg name='y' default='0' />
  <arg name='z' default='0' />
  <arg name='sdf' default='$(find mbzirc_gazebo)/models/unit_sphere_0/balloon.sdf' />

  <group ns='$(arg name)'>
    <node name='balloon' pkg='gazebo_ros' type='spawn_model' output='screen'
      args='-sdf -file $(arg sdf) -model $(arg name) -x $(arg x) -y $(arg y) -z $(arg z)'>
    </node>
  </group>
</launch>
