<?xml version='1.0' ?>
<launch>
  <arg name='physics' default='ode' />
  <arg name='world' default='$(find mbzirc_gazebo)/worlds/kentland.world' />

  <node name='gazebo' pkg='gazebo_ros' type='gzserver' respawn='false' output='screen' args='--verbose -e $(arg physics) $(arg world)' />
  <node name='gazebo_gui' pkg='gazebo_ros' type='gzclient' respawn='false' output='screen' />

  <!-- Launch Bogey 0 model -->
  <include file='$(find mbzirc_gazebo)/launch/support/standard_bogey.launch'>
    <arg name='id' value='0' />
  </include>


  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='0' />
    <arg name='x' value = '2' />
    <arg name='y' value = '2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='1' />
    <arg name='x' value = '2' />
    <arg name='y' value = '4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='2' />
    <arg name='x' value = '2' />
    <arg name='y' value = '-2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='3' />
    <arg name='x' value = '2' />
    <arg name='y' value = '-4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='4' />
    <arg name='x' value = '4' />
    <arg name='y' value = '2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='5' />
    <arg name='x' value = '4' />
    <arg name='y' value = '4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='6' />
    <arg name='x' value = '4' />
    <arg name='y' value = '-2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='7' />
    <arg name='x' value = '4' />
    <arg name='y' value = '-4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='8' />
    <arg name='x' value = '-2' />
    <arg name='y' value = '2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='9' />
    <arg name='x' value = '-2' />
    <arg name='y' value = '4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='10' />
    <arg name='x' value = '-2' />
    <arg name='y' value = '-2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='11' />
    <arg name='x' value = '-2' />
    <arg name='y' value = '-4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='12' />
    <arg name='x' value = '-4' />
    <arg name='y' value = '2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='13' />
    <arg name='x' value = '-4' />
    <arg name='y' value = '4' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='14' />
    <arg name='x' value = '-4' />
    <arg name='y' value = '-2' />
    <arg name='z' value = '2' />
  </include>

  <include file='$(find mbzirc_gazebo)/launch/support/sphere.launch'>
    <arg name='id' value='15' />
    <arg name='x' value = '-4' />
    <arg name='y' value = '-4' />
    <arg name='z' value = '2' />
  </include>
</launch>
